{% extends 'Navbar.html' %}
{% load static %}

{% block content %}
{% for post in posts %}
<div class="card" style="width: 18rem; margin: 14px">
  
  {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top" alt="">
  {% else %}
  <img src="{% static 'images.png' %}" class="card-img-top" alt="Нет изображения">
  {% endif %}

  <div class="card-body">
    <h5 class="card-title"> Заголовок: {{ post.title }}</h5>
    <p> Описание: {{ post.description }}</p>
    <p class="card-text">Категория: {{ post.category }}</p>
    {% for tag in post.tag.all %}
    <a href="#" class="btn btn-secondary"> Тэг: {{ tag.title }}</a>
    {% endfor %}
    
    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary"> Learn more</a>
  </div>
</div>
{% endfor %}
{% endblock %}
